
<style>
  
  a {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #1a9435;
  }

</style>

<div class="content" role="main">
 
  <header class="mainHeader">
      <mat-card class="matCard">
        <nav class="nabBar">
          <button mat-button><a routerLink='/home' routerLinkActive="active">Home</a></button>
          <button mat-button><a routerLink='/registration' routerLinkActive="active">Registration Form</a></button>
        </nav>
    </mat-card>
  </header>
</div>
<router-outlet></router-outlet>
